USE [KFQS_MES_2021]
GO
/****** Object:  StoredProcedure [dbo].[11WM_StockWM_U1]    Script Date: 2021-06-22 오후 5:40:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		박상섭
-- Create date: 2021-06-16
-- Description:	제품재고 관리 및 상차등록 등록
-- =============================================
CREATE PROCEDURE [dbo].[11WM_StockWM_U1] 
	 @PLANTCODE			VARCHAR(10)				-- 공장
	,@WORKERID			VARCHAR(30)				-- 작업자 코드
	,@CUSTCODE			VARCHAR(10)				-- 거래처 코드
	,@ITEMCODE			VARCHAR(20)				-- 품목
	,@LOTNO				VARCHAR(20)				-- LOTNO
	,@CARNO				VARCHAR(20)				-- 차량번호
	,@MAKER				VARCHAR(20)				-- MAKER
	,@SHIPQTY			FLOAT					-- 상차 수량
	,@SHIPNO			VARCHAR(20)				-- SHIPNO
	,@I					VARCHAR(1)

	,@LANG				VARCHAR(10)	='KO'
	,@RS_CODE			VARCHAR(1)		OUTPUT
	,@RS_MSG			VARCHAR(200)	OUTPUT
AS
BEGIN
	-- 현재 시간 정의
	DECLARE @LD_NOWDATE DATETIME
	       ,@LS_NOWDATE VARCHAR(10)
		   ,@LS_WORKER	VARCHAR(20)
		   ,@LS_CUST	VARCHAR(30)
		   ,@LS_SHIPFLAG	VARCHAR(1)
	   SET @LD_NOWDATE = GETDATE()
	   SET @LS_NOWDATE = CONVERT(VARCHAR,@LD_NOWDATE,23)

	-- 작업자 정보 조회
	SELECT @LS_WORKER = WORKERID
	  FROM TB_WorkerList WITH(NOLOCK)
	 WHERE PLANTCODE	= @PLANTCODE
	   AND WORKERID		= @WORKERID
	IF (ISNULL(@LS_WORKER,'') = '')
	BEGIN
		SET @RS_CODE	= 'E'
		SET @RS_MSG		= '등록된 작업자가 아닙니다.'
		RETURN
	END
	
	-- 거래처 정보 조회
	SELECT @LS_CUST = CUSTCODE
	  FROM TB_CustMaster WITH(NOLOCK)
	 WHERE PLANTCODE	= @PLANTCODE
	   AND CUSTCODE		= @CUSTCODE
	IF (ISNULL(@LS_CUST,'') = '')
	BEGIN
		SET @RS_CODE	= 'E'
		SET @RS_MSG		= '등록된 거래처가 아닙니다.'
		RETURN
	END

	-- 상차 내역 조회
	SELECT @LS_SHIPFLAG = CASE WHEN ISNULL(SHIPFLAG,'N') = 'N' THEN 'N' ELSE 'Y' END
	  FROM TB_StockWM WITH(NOLOCK)
	 WHERE PLANTCODE	= @PLANTCODE
	   AND ITEMCODE		= @ITEMCODE
	   AND LOTNO		= @LOTNO
    IF (@LS_SHIPFLAG = 'Y')
	BEGIN
		SET @RS_CODE	= 'E'
		SET @RS_MSG		= '이미 상차 등록된 제품입니다.'
		RETURN
	END

	-- 상차 내역 UPDATE
	UPDATE TB_StockWM
	   SET SHIPFLAG ='Y'
	 WHERE PLANTCODE	= @PLANTCODE
	   AND ITEMCODE		= @ITEMCODE
	   AND LOTNO		= @LOTNO

	-- 상차 내역 등록 (공통)
	DECLARE @LS_SHIPNO	VARCHAR(30)
		SET @LS_SHIPNO = 'SHIP' + REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR,GETDATE(),120),'-',''),':',''),' ','')
	
	IF ( @I = '0')
	BEGIN
		INSERT INTO TB_ShipWM (PLANTCODE,	SHIPNO,		CARNO,	SHIPDATE,		CUSTCODE,	WORKER,		MAKEDATE,	MAKER)
					   VALUES (@PLANTCODE,	@LS_SHIPNO,	@CARNO,	@LS_NOWDATE,	@CUSTCODE,	@WORKERID,	@LD_NOWDATE,@MAKER)
		

	END

	-- 상차 내역 등록 (상세)
   DECLARE @LI_SHIPSEQ	VARCHAR(20)
	SELECT @LI_SHIPSEQ = ISNULL(MAX(SHIPSEQ),0) + 1
	  FROM TB_SHIPWM_B WITH(NOLOCK) 
	 WHERE PLANTCODE = @PLANTCODE 
	   AND SHIPNO = @LS_SHIPNO 
	INSERT INTO TB_SHIPWM_B (PLANTCODE,		SHIPNO,		SHIPSEQ,		LOTNO,	ITEMCODE,	SHIPQTY,	MAKEDATE,		MAKER) 
					 VALUES (@PLANTCODE,	@LS_SHIPNO,	@LI_SHIPSEQ,	@LOTNO,	@ITEMCODE,	@SHIPQTY,	@LD_NOWDATE,	@MAKER)	
    SET @RS_CODE = 'S' 
END
GO
